torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
tqdm
safetensors
tokenizers
bitsandbytes
numpy==1.24.3
accelerate==1.2.1
fastapi==0.115.6
gradio==3.49.0
tensorboard==2.17.0
transformers==4.42.0
-e git+https://github.com/huggingface/diffusers.git
opencv-python==4.11.0.86
peft==0.13.2
